.orb-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.orb-container,
.orb-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.orb-container {
  z-index: 0;
}

.orb-content {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Allow mouse events to pass through */
}
